.flex-Cupcakes {
    display: flex;
    
    flex-flow: row wrap;

    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .flex-prodect{
    background:mediumvioletred;
    padding: 5px;
    width: 200px;
    height: 250px;
    margin-top: 10px;
    color: white;
    font-weight:bold;
    font-size: 15px;
    text-align: left;
  }
  

       
  }